<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎登录人力资源服务管理系统</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery-3.3.1.js"></script>
    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            $(window).resize(function () {
                $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            })
        });
    </script>

</head>
<body id="login" style="background-color:#1c77ac; background-image:url(/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
    <div id="mainBody">
        <div id="cloud1" class="cloud"></div>
        <div id="cloud2" class="cloud"></div>
    </div>
    <div class="logintop">
        <span>欢迎登录人力资源服务管理系统</span>
        <ul>
            <li><a href="#">回首页</a></li>
            <li><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
        </ul>
    </div>
    <div class="loginbody">
        <div class="systemlogo"></div>
        <div class="loginbox">
            <form id="form0" action="/Home/Login" method="post">
                <ul>
                    <li><input name="uname" type="text" class="loginuser" value="" onclick="JavaScript:this.value=''" /></li>
                    <li><input name="upwd" type="text" class="loginpwd" value="" onclick="JavaScript: this.value = ''; " /></li>
                    <li>
                        <input id="btn" name="" type="submit" class="loginbtn" value="登录" />
                        <input type="radio" value="0" name="urole" checked="checked" />管理员/顾问
                        <input type="radio" value="1" name="urole" />候选人
                    </li>
                    <li id="msg" style="color:red">@TempData["msg"]</li>
                </ul>
            </form>
        </div>
    </div>
    <div class="loginbm">版权所有  2019  仅供学习交流，勿用于任何商业用途</div>
</body>
</html>
