<div class="lefttop"><span></span>菜单</div>
<ul class="menuson">
    <li id="noticeItem"><cite></cite><a href="/Notice/Index">公告管理</a></li>
    <li id="gradeItem"><cite></cite><a href="/Grade/Index">专业班信息</a></li>
    <li id="studentItem"><cite></cite><a href="#">候选人员信息</a></li>
    <li id="teacherItem"><cite></cite><a href="/Teacher/Index">顾问信息</a></li>
    <li id="companyItem"><cite></cite><a href="/Company/Index">招聘企业</a></li>
    <li id="postItem"><cite></cite><a href="/Post/Index">招聘岗位</a></li>
    <li id="interviewItem"><cite></cite><a href="/Interview/Index">面试申请管理</a></li>
    <li id="dictItem"><cite></cite><a href="/Dict/Index">系统字典</a></li>
    <li><cite></cite><a href="#">个人信息</a></li>
</ul>